.truncate-lines {
  -webkit-line-clamp: var(--lines, 1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; 
}

.card {
  --bs-card-border-width: 0;
  border: 2.0px solid #c8cfa0;
  border-radius: 0.5rem;    
  background-color: #fdfdfd;



}

.hover-border:hover { 
  border: 2.0px solid #78ABA8;
}

.card-body {
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;

}

.col-box {
  height: var(--height, 40px);
}

.form-control {
  resize: none;
  border-radius: 0;
}

#voirPage {
  background-color: #FF7E2F;
  color: #000000;
  border-radius: 0;
}


#output{
  text-transform:uppercase;
  color:#fdf6f0;
  font-size:6em;
  font-weight:bold;
  text-align:left;
  text-shadow:0.08em 0em #940f08;
}

.spanCopied {
  opacity: 0;
  transition: opacity 1s ease;
  color: green;
  margin-left: 10px;
}

.spanCopied.show {
  opacity: 1;
}

.colSquare300 {
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

.cardSquare300 {
  aspect-ratio: 1 / 1;
  max-width: 300px;
  width: 100%;
}

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: #78ABA8;
}

.cardRow {
  line-height: 1;
  height: 1em;
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color);
  font-size: 0.875em;
}

.footerRow {
  line-height: 1;
  height: 1em;
  font-size: 0.750em;
}

.custom-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline;
}

.showModeTitle {
  font-size: 2.0em;
  text-align: center;
  font-weight: bold;
  filter: blur(0.1px);
  letter-spacing: -0.9px;
  color: #2f4544;
}

.btnShare {
  background-color: #fdfdfd;
  border: 2.0px solid #c8cfa0;
  color: #2f4544;
}

.btnShare:hover {
  border: 2.0px solid #78ABA8;
}

.btnSort {
  background-color: #fdfdfd;
  border: 2.0px solid #c8cfa0;
  color: #2f4544;
}

.btnSort:hover, .btnSort:focus {
  background-color: inherit !important;
  box-shadow: none !important;
  color: inherit !important;
  border: 2.0px solid #78ABA8;
}

.dropdownItemSort.active, .dropdownItemSort:focus, .dropdownItemSort:active {
  background-color: #78ABA8;
}

.dropdownMenuSort.active, .dropdownMenuSort:active, .dropdownMenuSort:focus, .dropdownMenuSort.show {
  background-color: #78ABA8;
}

.image-crop {
  position: relative;
  width: 100%;
  padding-top: calc(100% / 0.81);
  overflow: hidden;
}

.image-crop img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#clipboardBtn {
  padding-left: 9px;
  padding-right: 9px;
}